

/* animation area start */

.digitalAnimation {
  position: relative;
}
.digitalImageOne {
  height: 713px;
  max-height: 713px;
  width: 483px;
}
.digitalImageTwo {
  position: absolute;
  top: 61%;
  right: -24px;
  height: 390px;
  max-height: 390px;
  width: 310px;
  animation: digitalUpDown 3s ease-in-out infinite;
}
@keyframes digitalUpDown {
  0% {
    top: 61%;
  }
  50% {
    top: 63%;
  }
}
.digitalImageTree {
  position: absolute;
  top: 112px;
  left: -18px;
  height: 112px;
  width: 112px;
  animation: digitalBigSmallAnimation 3s ease-in-out infinite;
}
@keyframes digitalBigSmallAnimation {
  0% {
    width: 112px;
  }
  50% {
    width: 0;
    height: 0;
  }
}
.digitalImageFour {
  position: absolute;
  top: 46%;
  right: 2%;
  animation: digitalLeftRightAnimation 3s linear infinite;
}

@keyframes digitalLeftRightAnimation {
  0% {
    top: 46%;
    right: 2%;
  }
  50% {
    top: 46%;
    right: -5%;
  }
}

.digitalImageFive {
  position: absolute;
  bottom: 0%;
  left: 0%;
  animation: digitalDotBlicking 0.5s linear infinite;
}
@keyframes digitalDotBlicking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/* animation area end */

/* digital left part  */

.digitalLeftPartHeading {
  font-size: 48px;
  font-weight: 600;
  line-height: 62px;
  font-family: "Poppins", sans-serif;
  color: #30344e;
  letter-spacing: -1% !important;
  white-space: nowrap;
  margin-bottom: 47px;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: #52c5b6 !important;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
  color: #fff !important;
}
.accordion-button {
  font-family: "Poppins", sans-serif !important;
  line-height: 34px !important;
  font-size: 20px !important;
  font-size: 600 !important;
  color: #5b5f77 !important;
}
.accordion-body {
  font-family: "Inter", sans-serif;
  line-height: 30px;
  font-size: 16px;
  font-size: 400;
  color: #5b5f77;
}
.accordion-item{
  margin: 20px 0;

  border: 0 !important;
  border-top: 1px solid #c8c8c8 !important;
  border-bottom: 1px solid #c8c8c8 !important;
}


/* responsive code */

@media (max-width: 991px) {
  .digitalImageOne {
    height: auto;
    max-height: 520px;
    width: auto;
    max-width: 100%;
  }

  .digitalImageTwo {
    height: 280px;
    width: auto;
    right: 0;
  }

  .digitalImageTree {
    height: 90px;
    width: 90px;
    left: -10px;
  }

  .digitalImageFour {
    display: none;
  }

  .digitalLeftPartHeading {
    font-size: 36px;
    line-height: 48px;
    white-space: normal;
    margin-bottom: 35px;
  }

  .accordion-button {
    font-size: 18px !important;
    line-height: 30px !important;
  }
}




@media (max-width: 575px) {
  .digitalAnimation {
    text-align: center;
  }

  .digitalImageOne {
    max-height: 360px;
    margin: 0 auto;
    display: block;
  }

  .digitalImageTwo {
    position: relative;
    top: auto;
    right: auto;
    margin: 20px auto 0;
    animation: none;
  }

  .digitalImageTree,
  .digitalImageFour,
  .digitalImageFive {
    display: none;
  }

  .digitalLeftPartHeading {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 25px;
  }

  .accordion-button {
    font-size: 16px !important;
    line-height: 26px !important;
    padding: 14px;
  }

  .accordion-body {
    font-size: 14px;
    line-height: 26px;
  }
}



@media (max-width: 400px) {
  .digitalLeftPartHeading {
    font-size: 24px;
    line-height: 34px;
  }

  .accordion-button {
    font-size: 15px !important;
  }
}
