.customerHeading {
  font-size: 48px;
  font-weight: 600;
  line-height: 62px;
  font-family: "Poppins", sans-serif;
  color: #30344e;
}
.customerMain{

}


.customerSliderContainer{
  margin-top: 60px;

}
.coustomerSliderImageParent{
  height: 400px;
}
.coustomerSliderImage{
    height: 100%;
    width: 100%;
}

/* responsive code  */

@media (max-width: 991px) {
  .customerHeading {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }

  .customerSliderContainer {
    margin-top: 40px;
  }

  .coustomerSliderImageParent {
    height: 320px;
  }
}
@media (max-width: 575px) {
  .customerHeading {
    font-size: 28px;
    line-height: 38px;
    text-align: center;
  }

  .customerSliderContainer {
    margin-top: 30px;
  }

  .coustomerSliderImageParent {
    height: 240px;
  }

  .coustomerSliderImage {
    object-fit: cover;
  }
}


@media (max-width: 400px) {
  .customerHeading {
    font-size: 24px;
    line-height: 34px;
  }

  .coustomerSliderImageParent {
    height: 200px;
  }
}
